html, body {
  background-color: rgb(138, 128, 115);
  width: 100%;
  height: 100%;
  margin: 0;
  
}

#main{
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}

h1 {
  position: relative;
  text-align: center;
  font-size: 3vw;
  font-family: 'Press Start 2P', monospace;
  height: 20%;
}

#output {
  background-color:  rgb(7, 7, 7);
  font-size: 2vw;
  color:greenyellow;
  font-family: monospace;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 29vw;
  max-height: 29vw;
  min-height: 39vw;
  display: table;
  /* margin: 0 auto; */
  
  
} 

.allLines {
  display: table-row;
}

.submissionField {
  font-size: 1.5vw;
  background-color: rgba(0, 0, 0, 0.795);
  color: chartreuse;
  font-family: monospace;
  display: table-row;
  float: left;
  max-width: 100%;
  width: 15vw;
 
}

.submissionButton {
  font-size: 1vw;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius: 0.12em ;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.2s;
  color: #FFFFFF;
  font-family: 'Press Start 2P', monospace;
  text-align: center; 
  background-color:  rgb(138, 128, 115);
  display: table-row;
  float: left;
}

.submissionButton:hover{
  color: #000000;
  background-color: #FFFFFF;
}

#mute {
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius: 0.12em ;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.2s;
  color: #FFFFFF;
  font-family: 'Press Start 2P', monospace;
  text-align: center;
  background-color:  rgb(138, 128, 115);
  font-size: 1vw;
  display: table-row;
  float: left;
  position: relative;
  max-width: 10%;
  min-width: 10%;
  top: 2.5vw;
  right: 24vw;
  
}

#mute:hover{
  color: #000000;
  background-color: #FFFFFF;
}

#audioContainer {
  z-index: 1000;
  display: flex;
  width: 100%;
  height:100%;
  margin: 0;
  background-color:transparent;
  position: fixed;
  background-color: black;
}

#play {
  width: 100%;
  height: 100%;
  color: chartreuse;
  background-color: black;
  font-family: 'Press Start 2P', monospace;
  font-size: 4vw;
}

.throw-button {
  background-color: white;
  position: relative;
  right: 5vw;
  display: table-row;
  display: inline-flex;
}


.button-img {
  height: 4.5vw;
  width: 4.5vw;
  border-radius: 100%;
  padding:0;
  max-width: 4vw;
  max-height: 4vw;
  background: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.5s ease;
  display: table-row;
  display: inline-flex;
  position: relative;
  
}

/* @media all and (max-width:30em){
  #mute {
    display: block;
    margin: 0.4em auto;

  }
} */
